.root{
    position: relative;
    .input{
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 20px 12px 45px;
        border-radius: 10px;
        width: 300px;
        font-size: 16px;
    }
    .icon{
        position: absolute;
        left: 13px;
        top: 12px;
        width: 24px;
        height: 24px;
        opacity: 0.3;
    }
}
:global{
    .clear{
        position: absolute;
        right: 13px;
        top: 12px;
        width: 24px;
        height: 24px;
        opacity: 0.3;
        &:hover{
            cursor: pointer;
            opacity: 0.6;
        }
    }
}